.button {
  width: 232px;
  height: 64px;
  background: #5D5FEF;
  border-radius: 6px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

.button:hover {
  background: #4f52f1;
}
.button:active {
  background: #7b7df0;
}